[Container]
Image=git.wheeli.ca/brian/stocker-informer:latest
EnvironmentFile=%h/.config/stocker-informer/.env.podman
PodmanArgs=--read-only
PodmanArgs=--tmpfs=/tmp:rw,noexec,nosuid,size=64m
AutoUpdate=local

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
